@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Hospital Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.000.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@hospital.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@hospital.com</a>
</address>